extends templates/layout.template.pug
include templates/button.template.pug


block vars
    - var page = 'Index Page'

block content
    h1 hello world
    p asjdfpojspof poasjdfpo
    +button('Hello world123')